extends layout

block content
  h1= title

  h2= "I am a Youtube Video"

  h3= artist
    
  //- iframe(id="video1", width="425", height="356", src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1")
  iframe(id="video1", width="425", height="356", src="http://www.youtube.com/embed/" + url + "?autoplay=1")
  
  //- iframe(style="display:none", id="video2", width="420", height="345", src="http://www.youtube.com/embed/MEbm-xLjEwk")

  div(id='player1-container-container')
    div(id='player1-container')
      | I am a container

  div(class="row")
    //-style='margin-top:400px'
    button(id="switchButton", class="btn btn-large btn-primary span2 offset2")
      | Switch

  form(class="row span2 offset1", style="margin-top: 10px", id="get_artist", action='/artist', method='post')
    input(type='text', placeholder='Artist', name='artist')